services:
    app.repository.domain:
        class: AppBundle\Repository\DomainRepository
        factory: ["@doctrine.orm.default_entity_manager", "getRepository"]
        arguments:
            - "AppBundle:Domain"
    app.repository.file_location:
        class: AppBundle\Repository\FileLocationRepository
        factory: ["@doctrine.orm.default_entity_manager", "getRepository"]
        arguments:
            - "AppBundle:FileLocation"
    app.repository.locale:
        class: AppBundle\Repository\LocaleRepository
        factory: ["@doctrine.orm.default_entity_manager", "getRepository"]
        arguments:
            - "AppBundle:Locale"
    app.repository.phrase:
        class: AppBundle\Repository\PhraseRepository
        factory: ["@doctrine.orm.default_entity_manager", "getRepository"]
        arguments:
            - "AppBundle:Phrase"
    app.repository.project:
        class: Doctrine\ORM\EntityRepository
        factory: ["@doctrine.orm.default_entity_manager", "getRepository"]
        arguments:
            - "AppBundle:Project"
    app.repository.translation:
        class: AppBundle\Repository\TranslationRepository
        factory: ["@doctrine.orm.default_entity_manager", "getRepository"]
        arguments:
            - "AppBundle:Translation"
    app.repository.user:
        class: Doctrine\ORM\EntityRepository
        factory: ["@doctrine.orm.default_entity_manager", "getRepository"]
        arguments:
            - "AppBundle:User"
